.social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    a {
      padding: 24px;

      &:hover,
      &:focus {
        transform: translateY(-3px);
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
